body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#fdfaf7
}

a {
    color: unset;
    text-decoration: unset;
    font-size: unset;
}

.infoText {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.homeTitle{
    width:101%;
    margin-left:-10px;
    padding: left 10px;
    background-color:#fdfaf7;
    color:#000000;
    font-weight:900;
    text-align:center;
    font-size: 48px;
    border-bottom:double #00000070;
    margin-bottom:15px;
}

.leftTitle {
    width:29%;
    height: auto;
    margin-left:10%;
    padding: 5%;
    float: left;
    background-color: #ff7b7b;
    border-right: solid #000000;
    text-align: center;
    font-weight: 900;
    font-size:20px;
}

.rightTitle {
    width:29%;
    height: auto;
    margin-right:10%;
    padding: 5%;
    float: right;
    background-color: #7876ff;
    border-left: solid #000000;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.leftEmbed {
    width:39%;
    margin-left:10%;
    float:left;
    background-color: #ff7b7b;
    border-right:solid #000000;
}

.rightEmbed {
    width:39%;
    margin-right:10%;
    float:right;
    /*background-color: #ff7b7b;*/
    border-left:solid #000000;
}