

@font-face {
    font-family: appleChancery;
    src: url(Apple\ Chancery\ 100.ttf);
}


body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#fdfaf7
}

a {
    color: unset;
    text-decoration: unset;
    font-size: unset;
}

.infoText {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.homeTitle{
    width: 101%;
    margin-left:-10px;
    padding: left 10px;
    background-color: #fdfaf7;
    color: #000000;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    border-bottom: double #00000070;
    margin-bottom: 15px;
}

.leftTitle {
    width:75%;
    height: 30%;
    margin: 5%;
    margin-bottom: 0;
    padding: 7.5%;
    float: left;
    background-color: #ff7b7b;
    border-right: solid #000000;
    text-align: center;
    font-weight: 900;
    font-size: 250%;
    font-family: appleChancery;
}

.rightTitle {
    width:29%;
    height: 30%;
    margin-right:10%;
    padding: 5%;
    padding-bottom:0;
    float: right;
    background-color: #7876ff;
    border-left: solid #000000;
    text-align: center;
    font-weight: 900;
    font-size:250%;
    font-family: appleChancery
}

.leftEmbed {
    width:75%;
    height: 30%;
    margin: 5%;
    margin-top: 0;
    padding: 7.5%;
    float:left;
    background-color: #ff7b7b;
    border-right:solid #000000;
}

.rightEmbed {
    width:39%;
    margin-right:10%;
    float:right;
    /*background-color: #ff7b7b;*/
    border-left:solid #000000;
}