

@font-face {
    font-family: appleChancery;
    src: url(Apple\ Chancery\ 100.ttf);
    }


body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#1b1b1b
    }

a {
    color: unset;
    text-decoration: unset;
    font-size: unset;
    }

.linkSpanner {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1;
    
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('empty.gif');
    }

.infoText {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    }

.homeTitle{
    width: 100%;
    margin-left:-10px;
    padding: left 10px;
    padding-bottom: 15px;
    color: #d8d8d8;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    border-bottom: double #00000070;
    margin-bottom: 15px;
    }

.crewTitle {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #d8d8d8;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    border: double #fefefe;
    margin-bottom: 15px;

}

.leftTitle {
    width:75%;
    height: 30%;
    margin: 5%;
    margin-bottom: 0;
    padding: 7.5%;
    float: left;
    background-color: #ff7b7b;
    text-align: center;
    font-weight: 900;
    font-size: 250%;
    font-family: appleChancery;
    position: relative;
    }

.leftEmbed {
    width:90%;
    float:left;
    padding-left:5%;
    position: relative;
    }

.rightTitle {
    width:75%;
    height: 30%;
    margin: 5%;
    margin-bottom: 0;
    padding: 7.5%;
    float: left;
    background-color: #7876ff;
    text-align: center;
    font-weight: 900;
    font-size: 250%;
    font-family: appleChancery;
    position: relative;
    border: double #ffffff;
    border-bottom: none;
    }

.rightEmbed {
    width:90%;
    float:left;
    padding-left:5%;
    position: relative;
    }

.footer {
    position:relative;
    bottom:0;
    width:100%;
    height:90px;
    float: left;
    }

.footerImage {
    height:75%;
    bottom:0;
    position: relative;
    margin: auto;
    display: block;
}



